<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>977</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>976</string>
					<key>Timestamp</key>
					<string>756146680.311692</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MZBar/MosaicGenerator/MosaicGeneration/GenerationCoordinator.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>            let dateFolderName = dateFormatter.string(from: Date())
</string>
				<key>leading</key>
				<string>            let dateFormatter = DateFormatter()
            dateFormatter.dateFormat = "yyyyMMdd"
</string>
				<key>trailing</key>
				<string>            let outputBaseURL = URL(fileURLWithPath: "/Volumes/Ext-6TB-2/Playlist/\(dateFolderName)2/\(width)", isDirectory: true)
            return try await playlistGenerator.findTodayVideos()
                .map { videoURL in
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>94</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>93</string>
					<key>Timestamp</key>
					<string>753892615.014675</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>MZBar/MosaicGenerator/MosaicGeneration/GenerationCoordinator.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    
</string>
				<key>leading</key>
				<string>        self.maxTasks = maxConcurrentTasks
    }
</string>
				<key>trailing</key>
				<string>

    
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
